body, jumbotron {
  padding: 50px;
}

.text-giant {
  font-size: 30px;
}

* {
  font-family: Gotham, helvetica, arial, sans-serif;
}

body {
  background-image: url("https://i.imgur.com/Ll1mhwd.jpg");
  background-color: #180A38;
}
